<div class="outer-box search-box">


  <h4 class="search-title">Phrases that match your query of: " <span class="search-query"><%= @query %></span> "</h4>

  <ul>
    <% @terms.each do |term| %>
      <li><%= link_to term.content, phrase_path(term) %></li>
    <% end %>
  </ul>

  <%= form_tag '/', method: 'get' do %>
    <%= button_tag "Back!", class: "edit-button" %>
  <% end %>
</div>
