 @import 'bootstrap-sprockets';
 @import 'bootstrap';

// html {
//   height: 100%;
//   overflow: hidden;
// }
//
// body {
//   color: #fff;
//   margin: 0;
//   padding: 0;
//   perspective: 1px;
//   transform-style: preserve-3d;
//   height: 100%;
//   overflow-y: scroll;
//   overflow-x: hidden;
//
// }
//
// header {
//   box-sizing: border-box;
//   // padding: 30vw 0 5vw;
//   position: relative;
//   transform-style: inherit;
//   width:100%;
// }
//
// header, header:before {
//   background: 50% 50% / cover;
// }
//
// header::before {
//   bottom:100px;
//   content: "";
//   left:0;
//   position: absolute;
//   right:0;
//   top:0;
//   display: block;
//   background-size: cover;
//   transform-origin: center center 0;
//   transform: translate2(-1px scale(2));
//   z-index: -1 ;
//   min-height: 100vh;
// }
//
// header * {
//   font-weight: normal;
//   text-align: center;
//   margin: 0;
//   paddding: 1em 0;
// }



h5 {
  color: rgb(255,0,64);
}

a.link-button {
  padding: 3px 7px;
  border-style: solid;
  border-width: thin;
  border-color: white;
}

div.outer-box li::before {
  content: "• ";
  margin-right:3px;
  margin-left: -20px;
  color: rgb(255,0,64);
}

// .bottom-form {
//   position: relative;
//   width: 59%
// }

.bottom-text {
  text-align: center;
  color: rgb(255,144,100);
}

.category-button {
  margin-top: 20px;
}

div.bottom-row {
  position:absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
}

form.button-box {
  position: relative;
  width:100%;
  display: flex;
  justify-content: center;
}

.button-box {
  position: relative;
  width:100%;
  display: flex;
  justify-content: center;
}

.button-text{
  color: rgb(255,0,64);
  text-align: center;
}

.category {
  color: rgb(255,144,100);
}

.category-with-margins {
  margin-bottom: 20px;
}

.category-box {
  width: 75%;
}

.category-page-title {
  text-align: center;
  font-family: "Montserrat";
}

.center {
  text-align: center;
}

.center-box {
  text-align: center;
  margin: 30px auto 20px;
}

div.left-box {
  text-align:center
}

.comment-box {
  margin: 20px 0;
  padding: 10px 20px 20px 20px;
}

.comment-content-area {
  // margin-top: 10px;
  margin-bottom: 15px;
}

.button-area {
  margin-bottom: 15px;
}

.comments-area {
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  border-color: rgb(255,0,64);
  padding: 20px;
}

.comment-content {
  color: white;
}

.edit-button {
  position: relative;
  background: rgb(3,35,61);
  border-radius: 25px;
  color: yellow;
  text-align: center;
}
.error-message {
   color: red;
   font-style: italic;
 }

.field {
  width: 100%;
  background-color: rgba(0,0,0,.5);
  border-color: white;
  color: rgb(0,186,190);
  border-radius: 15px;
}

select.field{
  margin-top: -10px;
  width: 25%;
}

#phrase_state_id {
  width: 25%;
  background-color: rgba(0,0,0,.5);
  border-color: white;
  color: rgb(0,186,190);
  border-radius: 15px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.category-box .field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-page-text {
  text-align: center;
  color: rgb(0,153,208);
  font-family: "Montserrat";
}

.inline-div {
  display: flex;
}

.inline-form-left {
  float:right;
  margin-left: auto;
}

.inline-form-right {
  float:left;
  margin-right: auto;
}

input.field {
  text-align:center;
}

.login-box {
  width: 40%;
  max-width: 400px;
}

.login-button {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.new-user {
  width: 250px;
}

.new-phrase {
  color: rgb(0,153,208);
}

.new-phrase-button {
  position:relative;
  width: 50%;
  // margin: 0 auto;
}

div .new-phrase-field {
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

input.new-user-button {
  // position: relative;
  display: inline-block;
  width: 75%;
  margin: 0 auto;
}
.outer-box {
   position: relative;
   padding: 20px 40px 40px 40px;
   margin: 50px auto;
   // margin-top: 50px;
   // top: 20%;
   // left: 40%;
   background-color: rgba(0,0,0,.5);
   align-items: center;
   color: black;
   font-family: "PT Sans";
   border-radius: 25px;
   min-width: 250px;
 }

.profile-title {
  color: rgb(255,144,100);
  text-align: center;
}

.profile-box {

  width: 75%;
  height: 500px;
}

.profile-button{
  display:flex;
  justify-content: center;
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
}

.phrase-show-text {
  color: rgb(88, 150,153);
}

.phrase-show-box {
  width: 75%;
  min-width: 750px;
}

.row:after {
  content: ".";
  display: table;
  clear: both;

}

.column {
  float:left;
  width:50%;
  margin: 0 auto;
  padding: 0 20px;
}

.left-column{
  left:50%;
}

.right-column {
  right:50%;
}

.search-box {
  width: 40%;
}

.search-query {
  color: rgb(255,144,100);
}

.search-title {
  color: rgb(255,0,64);
  text-align: left;
  font-family: "Montserrat";
}

.select-rating{
  color: yellow;
}

.submit-button {
  position: relative;
  background: rgb(3,35,61);
  border-radius: 25px;
  border-color: white;
  margin-bottom: 4px;
  // width: 100%;
  -webkit-appearance: none;
}
.subtitle {
  color: rgb(255,144,100);
  text-align: center;
}
 .title {
   color: rgb(255,0,64);
   text-align: center;
   font-family: "Montserrat";
 }

 .rating {
   color: yellow;
 }

 #rating_rating {
   width: 20%;
   background-color: rgba(0,0,0,.5);
   border-color: white;
   // color: rgb(0,186,190);
   color: yellow;
   border-radius: 15px;
 }

 .user-title-box {
   width: 75%;
 }

 a:link.user-link {
   color: rgb(143,168,210);
 }
 a:hover.user-link {
   color: rgb(238, 193,224);
 }
