<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>myJargon</title>
  </head>

  <body>
    <div class="outer-box home-box">

        <h1 class="home-page-text">Welcome to myJargon!</h1>
        <h3 class="subtitle left-align">Where you can submit, describe, and provide information on different forms of slang or jargon that are used all over the country and rate and comment on other people's submissions! </h3>

        <div class="center-box">
          <%= form_tag '/phrases/categorize',method: "post" do %>
            <h4 class="subtitle">Categorize Phrases by:</h4>
            <select class="field" name="category">
              <option value="region">Region</option>
              <option value="state">State</option>
            </select>
            <%= submit_tag "Categorize!", class:"submit-button button-text" %>
          <% end %>
        </div>
      </div>

  </body>
</html>
