<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  
  <body>

    <% if !@category %>
      <div class="">
        <%= form_tag '/phrases/categorize',method: "post" do %>
          <p>Categorize Terms by:</p>
          <select class="" name="category">
            <option value="region">Region</option>
            <option value="state">State</option>
          </select>
          <%= submit_tag "Categorize!" %>
        <% end %>
      </div>

    <% else %>
      <%= render 'categorize' %>
    <% end %>
  </body>
</html>
